@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
html{
    font-family: OpenSans,sans-serif;
}

body{
    background-color: #b2bfc7;
}

main{/*
    margin-top: 5em;
    left: 50%;
    top: 50%;
    flex-wrap: wrap;*/

    /*
    margin: 0 auto;
    max-width: calc(var(--card-width) * var(--cards-in-row) + 2em + 6*1px);
    display: flex;
    flex-wrap:wrap;
    gap: 1em;
    justify-content: start;
    */
    display: grid;
    box-sizing: border-box;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, calc( var(--card-width) + 2px ));
    justify-content: center;
    margin-top: 5em;

}


:root{
    --Polo-Blue: #75A2C9;       /*Polo Blue*/
    --Shadow-Green:#95BAAE;      /*Shadow Green*/
    --Dim-Gray:#616161 ;        /*Dim Gray*/
    --Spindle:#B7BEC6 ;         /*Spindle*/
    --Catalina-Blue:#203567 ;   /*Catalina Blue*/
    --Genoa:#35736E;            /*Genoa*/
    --title: #08c;              /*Pacific Blue*/
    --stock:#7ca600;            /*Christi*/
    --text:#646464;             /*dimm gray*/
    --cta_border:#8ebd00;       /*Citrus*/
    --cta: #99cc00;             /*Citrus*/
    --cta-hover:#b3e61c;        /*Citrus*/
    --card-width:300px;
    --cards-in-row:3;
}   